/* .more_header{
    width: 100%;
    margin-left: 11px;
    border: 1px solid #dddddd;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card_more{
    width: 500px;
    height: 360px;
    background: #00AFEF;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(173, 161, 161);
    overflow: hidden;
     margin-left: 25px;
    /* grid-gap: 5px; */
    /* margin-top: 4px;
    align-items: center;
    text-align: center;
    cursor: pointer;
} */ 